DATABASE_URL="postgresql://docker:docker@localhost:5433/upscale?schema=public"

SESSION_SECRET=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="delivered@resend.dev"
RESEND_TO_EMAIL="delivered@resend.dev"

PINATA_JWT=""
PINATA_API_KEY=""
PINATA_API_SECRET=""

NEXT_PUBLIC_PINATA_GATEWAY=""
